@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&display=swap');
:root {
  --main-color: #a800a8;
  --shadow-black-100: 0 5px 15px rgba(0, 0, 0, 0.1);
  --black-900: #01010f;
  --black-400: #555555;
  --black-100: #3a3a3a;
  --white: #ffffff;
  --white-100: #f7f7f7;
}
html {
  scroll-behavior: smooth;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: normal;
  overflow-x: hidden;
  background-color: var(--white-100);
}
::before,
::after {
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
img {
  vertical-align: middle;
  max-width: 100%;
}
.container {
  max-width: 1100px;
  margin: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.full-screen {
  padding: 80px 0 0;
  min-height: 100vh;
}
.section-padding {
  padding: 50px 0;
  margin-top: 1rem;
}
.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 60px;
  text-align: center;
}
.section-title .title {
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  display: inline-block;
  text-transform: uppercase;
  margin: 0 0 15px;
  color: var(--main-color);
  padding: 5px 10px;
  z-index: 1;
  position: relative;
}
.section-title .title::before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--main-color);
  border-radius: 4px;
  z-index: -1;
  opacity: 0.1;
}
.section-title .subtitle {
  font-size: 30px;
  color: var(--black-900);
  font-weight: 700;
  line-height: 38px;
}
.btn-1 {
  background-color: var(--main-color);
  color: var(--white);
  padding: 15px 40px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  text-transform: capitalize;
  font-weight: 600;
  transition: all 0.3s ease-out;
}
.btn-1:hover {
  border: 1px solid var(--main-color);
  background-color: transparent;
  color: var(--main-color);
}
.effect-wrap .effect {
  position: absolute;
  z-index: -1;
}
.effect-1 {
  width: 30px;
  height: 30px;
  border: 4px solid var(--main-color);
  right: 10%;
  bottom: 10%;
  animation: spin 10s linear infinite;
}
.effect-2 {
  left: 3%;
  bottom: 8%;
  width: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  animation: topbounce 3s ease-in-out infinite;
}
.effect-2 div {
  height: 3px;
  width: 3px;
  background-color: var(--main-color);
  margin: 0 3px 8px;
}
.effect-3 {
  border-top: 30px solid transparent;
  border-left: 30px solid var(--white);
  left: 30%;
  top: 20%;
  animation: spin 15s linear infinite;
}
.effect-3::before {
  content: '';
  border-top: 30px solid transparent;
  border-left: 30px solid var(--white);
  position: absolute;
  left: -35px;
  top: -25px;
  opacity: 0.5;
}
.effect-4 {
  height: 50px;
  width: 50px;
  right: 14%;
  top: 30%;
  display: flex;
  justify-content: space-between;
  border-radius: 50%;
  overflow: hidden;
  animation: spin 15s linear infinite;
}
.effect-4 div {
  width: 1px;
  background-color: var(--main-color);
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes topbounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(25px);
  }
}
/*===== Navbar =====*/
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999;
  padding: 16px 25px;
  margin-bottom: 6rem !important;
  transition: all 0.5s ease;
}
.navbar.sticky {
  box-shadow: var(--shadow-black-100);
  background: rgba(7, 7, 46, 0.9);
}
.navbar .container {
  padding: 0 20px;
}
.logo-img {
  position: relative;
  width: 190px;
  height: 100%;
  object-fit: cover;
}

.logo-circle {
  height: 26px;
  width: 26px;
  border: 4px solid var(--white);
  display: inline-block;
  border-radius: 50%;
  margin-bottom: -2px;
  position: relative;
}
.logo-circle::before {
  content: '';
  height: 8px;
  width: 8px;
  background-color: var(--white);
  border-radius: 50%;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -4px;
  margin-top: -4px;
}
.logo a {
  font-size: 32px;
  color: var(--white);
  font-weight: 700;
  text-transform: capitalize;
}
.navbar .menu .nav-item {
  display: inline-block;
  margin-right: 36px;
}
.navbar .menu .nav-item .nav-link {
  color: var(--white);
  font-size: 16px;
  font-weight: 600;
  display: block;
  text-transform: capitalize;
  transition: color 0.3s ease;
}

.active_links {
  color: #3ed1d1 !important;
}

.navbar .menu .nav-item .nav-link:hover {
  color: #3ed1d1;
  cursor: pointer;
}

.menu-btn {
  color: var(--white);
  background: transparent;
  height: 34px;
  width: 44px;
  border: 1px solid aliceblue;
  padding: 0;
  cursor: pointer;
  border-radius: 5px;
  line-height: 34px;
  text-align: center;
  font-size: 18px;
  display: none;
  box-shadow: var(--shadow-black-100);
}

/*===== Home Section =====*/
.home-section {
  position: relative;
  top: 6rem;
}
.home-section::before {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 160%;
  bottom: 0;
  background-image: url('../images/bg-shape.svg');
  background-repeat: no-repeat;
  background-size: cover;
}
.home-section .home-text,
.home-section .home-image {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
}
.home-section .home-text h2 {
  font-size: 60px;
  font-weight: 700;
  color: var(--white);
  line-height: 60px;
}
.home-section .home-text h2 span {
  color: var(--main-color);
}
.home-section .home-text p {
  color: var(--white);
  font-size: 18px;
  margin-top: 30px;
  margin-bottom: 60px;
  line-height: 28px;
  text-align: justify;
}
.home-section .home-image .img-box {
  max-width: 400px;
  margin: auto;
}
.home-section .home-image .img-box img {
  width: 100%;
  animation: productAnimation 5s linear infinite;
}
@keyframes productAnimation {
  0%,
  100% {
    transform: translateY(15px);
  }
  50% {
    transform: translateY(-15px);
  }
}
/*===== About Section =====*/
.about-img,
.about-text {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
}
.about-img .img-box {
  width: 350px;
  margin: auto;
}
.about-img .img-box img {
  width: 100%;
  transition: 0.5s;
}
.about-text .section-title {
  text-align: left;
  margin-bottom: 30px;
}
.about-text .about-content p {
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 1rem;
  color: var(--black-400);
  text-align: justify;
}
.color-container {
  margin-bottom: 30px;
}
.color-container .title {
  color: var(--black-100);
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 20px;
  text-transform: capitalize;
}
.colors {
  display: flex;
  align-items: center;
}
.color {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 5px solid;
  cursor: pointer;
  margin: 0 10px;
  transition: 0.5s;
}
.color.blue {
  background-color: #2175f5;
  border-color: #2175f5;
}
.color.red {
  background-color: #f84848;
  border-color: #f84848;
}
.color.green {
  background-color: #29b864;
  border-color: #29b864;
}
.color.purple {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.color.cyan {
  background-color: #3ed1d1;
  border-color: #3ed1d1;
}
.color.pink {
  background-color: #f02669;
  border-color: #f02669;
}
.color.active {
  border-color: var(--white);
  box-shadow: 0 0 10px 0.5px rgba(0, 0, 0, 0.2);
  transform: scale(1.1);
}
.price {
  margin-bottom: 30px;
}
.price .title {
  color: var(--black-100);
  font-weight: 600;
  font-size: 16px;
  text-transform: capitalize;
  margin-bottom: 15px;
}
.price .new-price {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  padding-right: 10px;
  color: var(--black-100);
  text-decoration: line-through;
}
.price .old-price {
  font-size: 24px;
  font-weight: 700;
  display: inline-block;
  color: var(--main-color);
}
.configurate {
  color: #358ed7;
  text-decoration: none;
  font-size: 14px;
  display: block;
  margin-top: 40px;
}
/*===== Product Section ======*/
.product-item {
  flex: 0 0 25%;
  max-width: 25%;
  padding: 20px;
}
.product-item .product-item-inner {
  padding: 15px;
  box-shadow: var(--shadow-black-100);
  border-radius: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  overflow: hidden;
}
.card-img {
  width: 100px;
  padding-bottom: 20px;
  transition: all 0.5s ease-in;
}
.card-name {
  position: absolute;
  left: -28%;
  top: 0;
  width: 3.2rem;
  height: 100%;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black-100);
  color: var(--white);
  font-weight: bold;
  transition: all 0.5s ease-in;
}
.card-icon {
  font-size: 1.2rem;
  color: var(--black-100);
}
.card-icon:hover {
  color: var(--main-color);
}
.card-precis {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  transition: all 0.5s ease-in;
}
.card-preci {
  display: block;
  text-align: center;
}
.card-preci-before {
  font-size: 0.7rem;
  color: var(--main-color);
  font-weight: bold;
  margin-bottom: 0.25rem;
}
.card-preci-now {
  font-size: 0.95rem;
  font-weight: bold;
  color: var(--black-100);
}
.product-item .product-item-inner:hover .card-name {
  left: 0;
}
.product-item .product-item-inner:hover .card-img {
  margin-left: 3rem;
}
.product-item .product-item-inner:hover .card-precis {
  margin-left: 3rem;
  padding: 0 1.5rem;
}
/*===== Contact Section =====*/
.contact-info {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  padding: 20px;
}
.contact-form {
  flex: 0 0 66.66%;
  max-width: 66.66%;
  padding: 20px;
}
.contact-info h3 {
  font-size: 22px;
  color: var(--black-100);
  font-weight: 600;
  margin: 0 0 40px;
}
.contact-info-item {
  position: relative;
  padding-left: 55px;
  margin-bottom: 30px;
}
.contact-info-item i {
  position: absolute;
  height: 40px;
  width: 40px;
  left: 0;
  top: 0;
  border-radius: 50%;
  font-size: 16px;
  border: 1px solid var(--main-color);
  color: var(--main-color);
  text-align: center;
  line-height: 38px;
}
.contact-info-item h4 {
  font-size: 18px;
  font-weight: 600;
  margin: 0 0 10px;
  color: var(--black-100);
}
.contact-info-item p {
  font-size: 16px;
  font-weight: 500;
  margin: 0;
  line-height: 26px;
  color: var(--black-400);
}
.contact-form .left,
.contact-form .right {
  flex: 0 0 50%;
  max-width: 50%;
}
.contact-form .left {
  padding-right: 10px;
}
.contact-form .right {
  padding-left: 10px;
}
.contact-form .form-group {
  margin-bottom: 25px;
}
.contact-form .form-control {
  height: 52px;
  width: 100%;
  border: 1px solid #b4becb;
  border-radius: 5px;
  padding: 0 24px;
  color: var(--black-400);
  background-color: var(--white-100);
  transition: 0.5s;
}
.contact-form .form-control:focus {
  border-color: var(--main-color);
}
.full-width {
  width: 100%;
}
.contact-form textarea.form-control {
  height: 140px;
  padding: 12px;
  resize: none;
}
/*===== footer section ======*/
footer {
  background-color: var(--black-900);
}
.right-col,
.left-col {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0 20px;
}
.social-media {
  margin: 20px 0;
}
.social-media a {
  color: var(--white);
  margin-right: 25px;
  font-size: 22px;
  text-decoration: none;
  transition: 0.3s;
}
.social-media a:hover {
  color: var(--main-color);
}
.left-text {
  color: var(--white);
}
.right-col h1 {
  font-size: 26px;
  color: var(--white);
}
.border {
  width: 100px;
  height: 4px;
  margin: 10px 0;
  background-color: var(--main-color);
}
.right-col p {
  color: var(--white);
  margin-bottom: 8px;
}

.newsletter-form {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.newsletter-form .form-control {
  max-width: 360px;
}

.newsletter-form .txtb {
  flex: 1;
  padding: 16px 40px;
  background-color: var(--white-100);
  border: none;
  font-weight: 700;
  outline: none;
  border-radius: 8px;
}
.newsletter-form .form-control-btn .btn-1 {
  margin-left: 6px;
}

/* comment-row */
.comment-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin: 0 auto;
  width: 100%;
  overflow-x: hidden;
  position: relative;
}

.error-msg {
  color: #ff4422;
  font-size: 0.91rem;
  font-weight: normal;
  padding: 3px;
  visibility: hidden;
}

/* input contains error */
.error .error-msg {
  visibility: visible;
}

/* Error border */
.error.form-group .form-control {
  border: 1px solid #b4becb;
}

/* Success border */
.success.form-group .form-control {
  border: 1px solid lightseagreen;
}

.comment-row .row-flex {
  border: 1px solid #b4becb;
  border-radius: 0.347rem;
  padding: 14px;
  max-width: 350px;
  text-align: center;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.comment-row .row-flex:hover {
  transform: translateY(-10px);
  cursor: pointer;
}

/* testi-img */
.row-flex .testi-img {
  width: 100px;
  height: 100px;
  border: none;
  padding: 10px;
  border-radius: 50%;
  object-fit: cover;
}

.row-flex p {
  text-align: Center;
  color: #555;
  font-size: 0.95rem;
  font-weight: normal;
  padding-bottom: 1rem;
  line-height: 1.5;
  position: relative;
}

.row-flex i.comment-icon {
  color: #ff004f;
  font-size: 2.5rem;
  text-align: center;
  padding: 10px;
}

.row-flex i.fa-star {
  color: #ff004f;
  font-size: 1.3rem;
}

.row-flex h4 {
  font-size: 1rem;
  font-weight: 500;
  color: #3a3a3a;
}

.row-flex h5 {
  color: #3a3a3a;
  font-weight: 400;
  padding: 2px;
  font-size: 0.98rem;
}

@media (max-width: 991px) {
  .navbar .menu {
    position: fixed;
    left: -100%;
    top: 100px;
    flex-direction: column;
    background-color: var(--main-color);
    width: 60%;
    height: 100vh;
    text-align: center;
    box-shadow: 0 10px 27px rgba(0, 0, 0, 0.05);
    transition: all 0.5s ease;
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar.sticky .menu {
    background-color: var(--white);
    top: 117px;
  }
  .navbar .menu .nav-item {
    display: block;
    margin: 60px 0;
  }
  .navbar.sticky .menu .nav-item .nav-link {
    color: var(--main-color);
  }
  .navbar .menu-btn {
    display: block;
    z-index: 999;
  }
  .navbar .container {
    padding: 0;
  }
  .home-section .home-text h2 {
    font-size: 48px;
    line-height: 48px;
  }
  .home-section .home-text p {
    font-size: 16px;
    margin-top: 20px;
    margin-bottom: 40px;
  }
  .home-section .home-image .img-box {
    max-width: 380px;
  }
  .product-items .product-item {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .contact-form .left,
  .contact-form .right {
    flex: 0 0 100%;
    max-width: 100%;
    padding: 0;
  }
  .contact-info {
    flex: 0 0 40%;
    max-width: 40%;
  }
  .contact-form {
    flex: 0 0 60%;
    max-width: 60%;
  }
  .right-col,
  .left-col {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .left-col {
    order: 2;
  }
  .right-col {
    order: 1;
    margin-bottom: 30px;
  }

  .btn-1 {
    margin-top: 1rem;
  }

  /* comment-row */
  .comment-row {
    overflow: hidden;
    flex-wrap: wrap;
  }
}

@media (max-width: 767px) {
  .effect-3 {
    left: 14%;
    top: 45%;
  }

  .row-flex {
    max-width: 100%;
    margin: 0 1.4rem;
  }

  .row-flex p {
    font-size: 0.91rem;
  }

  .effect-4 {
    top: 32%;
    right: 4%;
  }
  .contact-section .contact-info,
  .contact-section .contact-form,
  .about-section .about-img,
  .about-section .about-text,
  .home-section .home-image,
  .home-section .home-text {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .home-section .full-screen {
    padding: 100px 0;
  }
  .home-section .home-image .img-box {
    max-width: 350px;
    margin-top: 60px;
  }
  .about-section .about-img .img-box {
    padding-bottom: 30px;
    max-width: 300px;
  }
  .product-items .product-item {
    flex: 0 0 50%;
    max-width: 50%;
  }
}
@media (max-width: 500px) {
  .product-items .product-item {
    flex: 0 0 100%;
    max-width: 100%;
  }
  .newsletter-form .txtb {
    max-width: 260px;
    padding: 16px 20px;
  }
}
